.especificaciones {
  min-height: 100vh;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
}

.especificaciones__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 106px;
  display: flex;
  align-items: center;
}

.especificaciones__navContainer {
  width: 80%;
  height: 100%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
}

.especificaciones__nav img {
  width: 50px;
}

.especificaciones__container {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 140px auto 0 auto;
  display: flex;
}

.especificaciones__left {
  flex: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.especificaciones__left img {
  width: 100%;
}

.especificaciones__right {
  flex: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.especificaciones__rightContainer {
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: center;
}

.especificaciones__rightContainer h1 {
  margin-bottom: 28px;
  text-transform: uppercase;
}

/* 
.especificaciones__item {
  flex: 14.28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.especificaciones__line {
  height: 4px;
  width: 60px;
  background: white;
  margin-bottom: 14px;
  margin-top: 14px;
}

.especificaciones__item h3 {
  font-size: 24px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
  letter-spacing: 1.25px;
  font-weight: 400;
}

.especificaciones__item p,
.especificaciones__item ul li {
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 1342px) {
  .especificaciones__left img {
    width: 700px;
  }
}

@media (max-width: 1062px) {
  .especificaciones {
    height: auto;
  }
  .especificaciones__container {
    flex-direction: column;
    margin-top: 0;
  }

  .especificaciones__left {
    margin-top: 120px;
  }

  .especificaciones__left img {
    width: 80%;
  }

  .especificaciones__rightContainer {
    flex: 1;
    padding: 30px;
  }

  .especificaciones__rightContainer h1 {
    position: absolute;
    top: 120px;
    left: 40px;
  }

  .especificaciones__line {
    width: 40%;
    margin-top: 0;
  }

  .especificaciones__item {
    padding: 10px;
  }
}

@media (max-width: 1040px) {
  .especificaciones__navContainer {
    width: 85%;
  }
}

@media (max-width: 667px) {
  .especificaciones__left {
    margin-top: 140px;
  }

  .especificaciones__left img {
    width: 100%;
  }

  .especificaciones__line {
    width: 70%;
  }
}

@media (max-width: 360px) {
  .especificaciones__right h1 {
    font-size: 8vw;
  }

  .especificaciones__right h3 {
    font-size: 6vw;
  }

  .especificaciones__right p,
  .especificaciones__right ul li {
    font-size: 5vw;
  }
}
