.sidebar {
  height: 100%;
  width: 100%;
}

.sidebar__container {
  list-style: none;
  padding: 0;
  padding-top: 15vh;
}

.sidebar__container li {
  width: 70%;
  margin: auto;
  padding: 16px 6px;
  border-bottom: 1px solid rgb(189, 189, 189);
  text-transform: uppercase;
}
