.eficiencia {
  height: 100vh;
  background: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
}

.eficiencia__top {
  flex: 70%;
}

.eficiencia__topContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/eficiencia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.eficiencia__bottom {
  flex: 30%;
  background: white;
  font-family: "Antonio", sans-serif;
  padding-bottom: 70px;
}

.eficiencia__bottomContainer {
  width: 80%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.eficiencia__bottomCol1 {
  flex: 40%;
  letter-spacing: 1.25px;
}

.eficiencia__bottomCol2 {
  flex: 60%;
}

.eficiencia__category {
  color: rgb(131, 131, 131);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.eficiencia__title {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 36px;
}

.eficiencia__buttonContainer {
  width: 80%;
  margin: auto;
}

.eficiencia__body {
  color: rgb(131, 131, 131);
  margin-bottom: 35px;
  font-size: 22px;
  font-weight: 400;
}

@media (max-width: 1082px) {
  .eficiencia__bottomContainer,
  .eficiencia__buttonContainer {
    width: 95%;
  }
}

@media (max-width: 889px) {
  .eficiencia__category {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .eficiencia__title {
    font-size: 32px;
  }
  .eficiencia__body {
    font-size: 18px;
  }
}

@media (max-width: 776px) {
  .eficiencia__bottomCol1 {
    flex: 50%;
  }

  .eficiencia__bottomCol2 {
    flex: 50%;
  }
}

@media (max-width: 661px) {
  .eficiencia__top {
    flex: 55%;
  }

  .eficiencia__bottom {
    flex: 45%;
  }

  .eficiencia__bottomContainer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
  }

  .eficiencia__bottomCol1 {
    margin-top: 40px;
  }

  .eficiencia__bottomCol2 {
    flex: auto;
  }

  .eficiencia__button {
    flex: auto;
  }
}

@media (max-width: 448px) {
  .eficiencia__button {
    width: 99% !important;
  }
}

@media (max-width: 324px) {
  .eficiencia__title {
    font-size: 26px;
  }

  .eficiencia__body {
    font-size: 16px;
  }

  .eficiencia__button {
    bottom: 5px;
  }
}
